<!DOCTYPE html>
<html lang="cs" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script type="text/javascript" src="all.js"></script>
    <link type="text/css" rel="stylesheet" href="all.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta property="og:image" content="http://www.uzemniplanbrno.cz/og.png" />
    <meta name="twitter:image" content="http://www.uzemniplanbrno.cz/og.png" />
    <title>Otevřené Brno: projekt územní plán</title>
    <meta property="og:title" content="Otevřené Brno: projekt územní plán" />
    <meta property="og:site_name" content="Otevřené Brno: projekt územní plán" />
    <meta name="twitter:title" content="Otevřené Brno: projekt územní plán" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="http://www.uzemniplanbrno.cz/" />
    <meta name="twitter:url" content="http://www.uzemniplanbrno.cz/" />
  </head>
  <body>
    <div class="envelope">
      <div class="invelope">

        <div class="header">
          <a href="https://otevrene-brno.cz/" class="obr" title="Otevřené Brno"></a>
          <span class="uzemak">projekt územní plán</span>
        </div>

        <div class="obrys">
          <div class="countdown">
            <div class="title">Už jen</div>
            <div class="block">
              <span class="digit"><%=timeLeft.days[0]%></span><span class="digit"><%=timeLeft.days[1]%></span>
              <div class="legend">dnů</div>
            </div>
            <div class="block">
              <span class="colon">:</span>
              <div class="legend">&nbsp;</div>
            </div>
            <div class="block">
              <span class="digit"><%=timeLeft.hours[0]%></span><span class="digit"><%=timeLeft.hours[1]%></span>
              <div class="legend">hodin</div>
            </div>
            <div class="block">
              <span class="colon">:</span>
              <div class="legend">&nbsp;</div>
            </div>
            <div class="block">
              <span class="digit"><%=timeLeft.minutes[0]%></span><span class="digit"><%=timeLeft.minutes[0]%></span>
              <div class="legend">minut</div>
            </div>
          </div>
        </div>

        <div class="kdy">Web <b>uzemniplanbrno.cz</b> bude spuštěn v pondělí 23. 3. 2020 ve 12:00 hodin.</div>

      </div>
    </div>
    <div class="footer">
      <div class="inside">
        <div class="claim">O územním plánu víme vše.</div>
        <div class="signoff">&copy; <a href="https://otevrene-brno.cz/">Otevřené Brno 2020</a></div>
      </div>
    </div>
  </body>
</html>
