<!DOCTYPE html>
<html lang="cs" dir="ltr">
  <head>

    <!--metadata-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta property="og:image" content="http://www.uzemniplanbrno.cz/sharingpreview.png" />
    <meta name="twitter:image" content="http://www.uzemniplanbrno.cz/sharingpreview.png" />
    <title>Územní plán pro Brno</title>
    <meta property="og:title" content="Územní plán pro Brno" />
    <meta property="og:site_name" content="Územní plán pro Brno" />
    <meta name="twitter:title" content="Územní plán pro Brno" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="http://www.uzemniplanbrno.cz/" />
    <meta name="twitter:url" content="http://www.uzemniplanbrno.cz/" />

    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <!--my styles-->
    <link type="text/css" rel="stylesheet" href="/all.css" />
    <link type="text/css" rel="stylesheet" href="/all1200.css" media="(max-width: 1200px)"/>
    <link type="text/css" rel="stylesheet" href="/all800.css" media="(max-width: 800px)"/>

    <!--my scripts-->
    <script type="text/javascript">
      const hotspots=<%-JSON.stringify(hotspots)%>;
      const signspots=[
        {latlon: [49.2061958, 16.6019783], title: "Punkt.", blurb: "Bayerova 7"},
        {latlon: [49.1982575, 16.6023464], title: "Café Atlas", blurb: "Bílý dům<br/>Žerotínovo náměstí 6"},
        {latlon: [49.1926308, 16.6083222], title: "Jazzová kavárna Podobrazy", blurb: "Tržnice<br/>Zelný trh 14"},
        {latlon: [49.1933822, 16.6080511], title: "Nadace Veronica", blurb: "Panská 9"},
        {latlon: [49.1873589, 16.6334306], title: "Vintage Coffee", blurb: "Charbulova 38<br/>Černovice"},
      ];
    </script>
    <script type="text/javascript" src="/all.js"></script>

  </head>
  <body>

    <div class="header">
      <div class="inside">
        <a class="logo" href="/">
          <span class="line line1"><span>ÚZEMNÍ PLÁN</span></span>
          <span class="line line2"><span>PRO BRNO</span></span>
        </a>
        <span class="socials">
          <a target="_blank" title="kontakt@uzemniplanbrno.cz" href="mailto:kontakt@uzemniplanbrno.cz"><i class="far fa-envelope"></i></a>
          <a target="_blank" title="Sdílet na Facebooku" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-facebook"></i></a>
          <a target="_blank" title="Sdílet na Twitteru" href="https://twitter.com/share?url=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-twitter"></i></a>
        </span>
        <a class="obrlogo" href="https://otevrene-brno.cz" target="_blank" title="Otevřené Brno"></a>
      </div>
    </div>

    <div class="envelope">
      <div class="inside">

        <!-- <div class="announce">
          <span class="icon"><i class="fas fa-bullhorn"></i></span>
          <span class="heading">
            <span class="intro">DEBATY</span>
            <span class="divider">|</span>
            24. června 2020
            <span class="divider">|</span>
            16:00 – 19:00
            <span class="divider">|</span>
            Lužánky
          </span>
          <span class="content">
            <a href="/podepiste-v-luzankach/">Podepište námitky k územnímu plánu Brna&nbsp;»</a>
          </span>
        </div> -->

        <div class="maptitle">
          <span class="current" id="tabHotspots" onclick="startMapHomepage()">
            Připomínky Otevřeného Brna k Návrhu územního plánu
          </span>
          <span id="tabSignspots" onclick="startMapSignspots()">
            Podpisová místa
          </span>
        </div>

        <div class="mapContainer">
          <div class="maepchen homePage" id="map"></div>
          <script type="text/javascript">$(startMapHomepage);</script>
          <a class="maximizer" title="Zvětšit mapu" href="javascript:void(null)" onclick="maximizeMap()"><i class="fas fa-expand-arrows-alt"></i></a>
          <a class="minimizer" title="Zmenšit mapu" href="javascript:void(null)" onclick="minimizeMap()"><i class="fas fa-compress"></i></a>
        </div>

        <div class="hotspots">
          <div class="chapter">
            <div class="heading first">Systémové připomínky</div>
            <a class="hotspot fat" href="/systemove-pripominky/">Systémové připomínky Otevřeného Brna k Návrhu Územního plánu&nbsp;»</a>
          </div>
          <div class="chapter">
            <div class="heading">Místní připomínky</div>
            <div class="columns">
              <%for(var key in hostspotsByGroup){%>
                <div class="group">
                  <span class="intertitle"><%=key%></span>
                  <%var hasPrecedent=false;%>
                  <%for(var i=0; i<hostspotsByGroup[key].length; i++){ var hotspot=hostspotsByGroup[key][i];%>
                      <%if(hotspot.latlon){%>
                        <%if(hasPrecedent){%>|<%}%>
                        <a class="hotspot" href="/<%=hotspot.nick%>/"><%=hotspot.title%></a>
                        <%hasPrecedent=true;%>
                      <%}%>
                  <%}%>
                </div>
              <%}%>
            </div>
          </div>
          <!-- <div class="heading noicon">Poznámky mimo mapu</div>
          <%hasPrecedent=false;%>
          <%for(var i=0; i<hotspots.length; i++){ var hotspot=hotspots[i];%>
              <%if(!hotspot.latlon){%>
                <%if(hasPrecedent){%>&nbsp;|&nbsp;<%}%>
                <a class="hotspot" href="/<%=hotspot.nick%>/"><%=hotspot.title%></a>
                <%hasPrecedent=true;%>
              <%}%>
          <%}%> -->
        </div>

        <div class="singlecolumn">
          <div class="signposts">
            <a class="signpost" href="/jak-cist-uzemni-plan/">
              <span class="icon"><i class="fas fa-book-reader"></i></span>
              <span class="overtitle">NÁVOD</span>
              <span class="title">Jak číst územní plán</span>
            </a>
            <a class="signpost" href="/jak-podat-namitku-k-uzemnimu-planu/">
              <span class="icon"><i class="fas fa-comment-alt"></i></span>
              <span class="overtitle">NÁVOD</span>
              <span class="title">Jak podat námitku k&nbsp;územnímu plánu</span>
            </a>
            <a class="signpost" href="/historie-a-budoucnost-uzemniho-planu/">
              <span class="icon"><i class="fas fa-info"></i></span>
              <span class="overtitle">POZADÍ</span>
              <span class="title">Historie a budoucnost územního plánu</span>
            </a>
            <a class="signpost" href="/konzultace/">
              <span class="icon"><i class="fas fa-phone"></i></span>
              <span class="overtitle">KONZULTACE</span>
              <span class="title">Zeptejte se odborníků na územní plán</span>
            </a>
            <!-- <a class="signpost prominent" href="/pridat/">
              <span class="icon"><i class="fas fa-plus"></i></span>
              <span class="overtitle">MAPA</span>
              <span class="title">Přidat bod na mapu</span>
            </a> -->
            <div class="clear"></div>
          </div>

          <!-- <div class="paraheading">
            Brno zveřejnilo <a target="_blank" href="https://gis.brno.cz/mapa/upmb-navrh/?c=-595246.45%3A-1160576.5&z=4&lb=zm-brno&ly=v21&lbo=1&lyo=">návrh územního plánu</a> a vy ho můžete připomínkovat.
          </div>
          <div class="para">
            Město je místo, kde žije na malém prostoru hodně lidí. Každý z nich chce přitom něco jiného.
            <b>Územní plán</b> tyto protichůdné zájmy koordinuje. Iniciuje nový rozvoj města a zároveň jej usměrňuje.
            Podle tohoto územního plánu se bude příštích 15 let stavět Brno.
          </div>
          <div class="para">
            Pojďte se podívat, jak bude vypadat. Kam se <b>rozroste</b> a kde <b>zhoustne</b>.
            Kudy povede nová <b>silnice</b>, kde budou nové <b>parky</b>.
            Jak daleko to budete mít s dětmi nebo s pejskem <b>do lesa</b>.
            Zkontrolujte, jestli vám někdo nezruší <b>zahrádku</b> nebo nezastaví <b>vnitroblok</b>.
            To vše se rozhoduje v územním plánu a právě nyní. Až za pět let vyjedou bagry, bude pozdě na stížnosti. Správný čas je teď.
          </div>
          <div class="para">
            Nebojte se územního plánu, <a href="/jak-cist-uzemni-plan/">pomůžeme vám v něm číst</a>.
            Kdyby se vám v něm něco nelíbilo, poradíme vám, <a href="/jak-podat-namitku-k-uzemnimu-planu/">jak podat připomínku</a>.
            Pokud naše návody nebudou stačit, napište nám, <a href="/konzultace/">najdeme vhodného odborníka</a>
            na urbanismus, dopravu, vodu ve městě, ovzduší či právo, který vám odpoví.
          </div> -->

          <div class="announces">
            <div class="heading">Aktuality</div>
            <div class="announce">
              <span class="icon"><i class="fas fa-bullhorn"></i></span>
              <span class="heading">
                <!-- <span class="intro">DEBATY</span>
                <span class="divider">|</span> -->
                24. června 2020
                <span class="divider">|</span>
                16:00 – 19:00
                <span class="divider">|</span>
                Lužánky
              </span>
              <span class="content">
                <a href="/podepiste-v-luzankach/">Podepište námitky k územnímu plánu Brna&nbsp;»</a>
              </span>
            </div>
            <div class="announce">
              <span class="icon"><i class="fas fa-bullhorn"></i></span>
              <span class="heading">
                22. a 23. června 2020
                <span class="divider">|</span>
                15:00
                <span class="divider">|</span>
                Výstaviště
              </span>
              <span class="content">
                <a href="/verejna-projednani-2020-06/">Veřejná projednání návrhu Územního plánu&nbsp;»</a>
              </span>
            </div>
            <div class="announce">
              <span class="icon"><i class="fas fa-bullhorn"></i></span>
              <span class="heading">
                23. dubna 2020
              </span>
              <span class="content">
                <a href="/debata-2020-04-23/">Online debata k územnímu plánu&nbsp;»</a>
              </span>
            </div>
            <div class="announce">
              <span class="icon"><i class="fas fa-bullhorn"></i></span>
              <span class="heading">
                8. dubna 2020
                <span class="divider">|</span>
                <span class="overtitle">ROZHOVOR</span>
              </span>
              <span class="content">
                <a href="/rozhovor-filip-chvatal/">Rozhovor s Filipem Chvátalem, radním pro územní plánování a rozvoj&nbsp;»</a>
              </span>
            </div>
            <div class="announce">
              <span class="icon"><i class="fas fa-bullhorn"></i></span>
              <span class="heading">
                31. března 2020
                <span class="divider">|</span>
                <span class="overtitle">ROZHOVOR</span>
              </span>
              <span class="content">
                <a href="/rozhovor-jiri-zlatuska/">Jiří Zlatuška: Projednání územního plánu není slučitelné s pandemií&nbsp;»</a>
              </span>
            </div>
          </div>

          <div class="clear"></div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
    <div class="footer">
      <div class="inside">
        <div class="left">
          <div class="line sitetitle"><a href="/">Územní plán pro Brno</a></div>
          <div class="line"><a href="/jak-cist-uzemni-plan/">Jak číst územní plán</a></div>
          <div class="line"><a href="/jak-podat-namitku-k-uzemnimu-planu/">Jak podat námitku k&nbsp;územnímu plánu</a></div>
          <div class="line"><a href="/historie-a-budoucnost-uzemniho-planu/">Historie a budoucnost územního plánu</a></div>
          <div class="line"><a href="/konzultace/">Zeptejte se odborníků na územní plán</a></div>
          <!-- <div class="line"><a href="/pridat/">Přidat bod na mapu</a></div> -->
          <div class="socials">
            <a target="_blank" title="Sdílet na Facebooku" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-facebook"></i></a>
            <a target="_blank" title="Sdílet na Twitteru" href="https://twitter.com/share?url=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-twitter"></i></a>
            <a class="email" href="mailto:kontakt@uzemniplanbrno.cz">kontakt@uzemniplanbrno.cz</a>
          </div>
          <div class="line"><a href="/ochrana-osobnich-udaju/">Ochrana osobních údajů</a></div>
          <div class="line"><a target="_blank" href="https://github.com/michmech/uzemak/">Zdrojový kód&nbsp; <i class="fab fa-github"></i></a></div>
        </div>
        <div class="right">
          <div class="slogan">S Otevřeným Brnem<br/>v územním plánu nezabloudíte.</div>
          <div class="line">&copy; <a target="_blank" href="https://otevrene-brno.cz">Otevřené Brno z. s.</a>, 2020</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <!-- Default Statcounter code for Uzemní plán pro Brno http://www.uzemniplanbrno.cz/ -->
    <script type="text/javascript"> var sc_project=12225882; var sc_invisible=1; var sc_security="6d95d3cf";</script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12225882/0/6d95d3cf/1/" alt="Web Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->

  </body>
  <script type="text/javascript">temporaryDisable();</script>
</html>
