<!DOCTYPE html>
<html lang="cs" dir="ltr">
  <head>

    <!--metadata-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta property="og:image" content="http://www.uzemniplanbrno.cz/sharingpreview.png" />
    <meta name="twitter:image" content="http://www.uzemniplanbrno.cz/sharingpreview.png" />
    <title><%=metadata.title%></title>
    <meta property="og:title" content="<%=metadata.title%>" />
    <meta property="og:site_name" content="Územní plán pro Brno" />
    <meta name="twitter:title" content="<%=metadata.title%>" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="http://www.uzemniplanbrno.cz/<%-nick%>/" />
    <meta name="twitter:url" content="http://www.uzemniplanbrno.cz/<%-nick%>/" />

    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <!--my styles-->
    <link type="text/css" rel="stylesheet" href="/all.css" />
    <link type="text/css" rel="stylesheet" href="/all1200.css" media="(max-width: 1200px)"/>
    <link type="text/css" rel="stylesheet" href="/all800.css" media="(max-width: 800px)"/>
    <link type="text/css" rel="stylesheet" href="/narrative.css" />

    <!--my scripts-->
    <script type="text/javascript" src="/all.js"></script>

  </head>
  <body>

    <div class="header">
      <div class="inside">
        <a class="logo" href="/">
          <span class="line line1"><span>ÚZEMNÍ PLÁN</span></span>
          <span class="line line2"><span>PRO BRNO</span></span>
        </a>
        <span class="socials">
          <a target="_blank" title="kontakt@uzemniplanbrno.cz" href="mailto:kontakt@uzemniplanbrno.cz"><i class="far fa-envelope"></i></a>
          <a target="_blank" title="Sdílet na Facebooku" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-facebook"></i></a>
          <a target="_blank" title="Sdílet na Twitteru" href="https://twitter.com/share?url=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-twitter"></i></a>
        </span>
        <a class="obrlogo" href="https://otevrene-brno.cz" target="_blank" title="Otevřené Brno"></a>
      </div>
    </div>

    <div class="envelope">
      <div class="inside">

        <div class="breadcrumbs">
          <a class="step" href="/"><i class="fas fa-home"></i></a>
          <span class="divider"><i class="fas fa-chevron-right"></i></span>
          <span class="step"><%=metadata.title%></span>
        </div>

        <div class="singlecolumn">

          <div class="narrative">
            <span class="titleIcon"><i class="fas <%=metadata.titleIcon%>"></i></span>
            <%-html%>
          </div>

          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="overfooter">
      <div class="inside">
        <i class="fas fa-info-circle"></i>
        Toto jsou <strong>neoficiální</strong> informační stránky o brněnském územním plánu.
        <strong>Oficiální</strong> informace k územnímu plánu najdete <a href="https://gis.brno.cz/ags/upmb/" target="_blank">na stránkách magistrátu města Brna&nbsp;»</a>
      </div>
    </div>
    <div class="footer">
      <div class="inside">
        <div class="left">
          <div class="line sitetitle"><a href="/">Územní plán pro Brno</a></div>
          <div class="line"><a href="/historie-a-budoucnost-uzemniho-planu/">Historie a budoucnost územního plánu</a></div>
          <div class="line"><a href="/jak-cist-uzemni-plan/">Jak číst územní plán</a></div>
          <div class="line"><a href="/jak-podat-namitku-k-uzemnimu-planu/">Jak podat námitku k&nbsp;územnímu plánu</a></div>
          <div class="line"><a href="/odbornici-na-uzemni-plan/">Zeptejte se odborníků na územní plán</a></div>
          <div class="line"><a href="/pridat/">Přidat bod na mapu</a></div>
          <div class="socials">
            <a target="_blank" title="Sdílet na Facebooku" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-facebook"></i></a>
            <a target="_blank" title="Sdílet na Twitteru" href="https://twitter.com/share?url=http%3A//www.uzemniplanbrno.cz/"><i class="fab fa-twitter"></i></a>
            <a class="email" href="mailto:kontakt@uzemniplanbrno.cz">kontakt@uzemniplanbrno.cz</a>
          </div>
        </div>
        <div class="right">
          <div class="slogan">O územním plánu víme vše.</div>
          <div class="line">&copy; <a target="_blank" href="https://otevrene-brno.cz">Otevřené Brno z. s.</a>, 2020</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript">temporaryDisable();</script>
</html>
